#UserDemo
APP_DEMO_USERNAME=modified
APP_DEMO_PASSWORD=modified
APP_DEMO_EMAIL=modified

#UserDemoHTTP
APP_BASE_URL=modified
APP_DEMO_USERNAME=modified
APP_DEMO_PASSWORD=modified
APP_DEMO_EMAIL=modified